hr {
    margin: 5px;
    margin-bottom: 5px;
}
#header button {
    float: right;
}
.dropdown {
    cursor: pointer;
}
#mapWell .navbar {
    margin: -1px -1px 0 -1px;
}
.noRadius, .well {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
#header h1 {
    font-size: 28px;
    color: #c7e0f0;
    margin: 0;
}
#header h1 * {
    display: inline;
    vertical-align: middle;
}
#header img {
    height: 32px;
}
.hero-unit {
    padding: 20px;
}
@media (max-width: 979px) {
    #contentWell .navbar .dropdown-menu {
        display: inline-block;
    }
}
@media (max-width: 767px) {
    #header h1 {
        text-align: center;
    }
    #header button {
        margin: 0;
    }
}
@media (max-width: 480px) {
    #header img {
        height: 26px;
    }
}
body {
    background-color: #f6f6f6;
}
