#pebrain a {
    color: white;
}
.bubblegum {
    font-family: 'Bubblegum Sans';
}
.vt323 {
    font-family: 'VT323';
}
.geo {
    font-family: 'Geo';
}
.geostar {
    font-family: 'Geostar Fill';
}
#headerCalc {
    font-size: 34px;
    color: #47cf47;
}
hr {
    margin: 5px;
    margin-bottom: 5px;
}
#header button {
    margin-top: 7px;
    float: right;
}
.dropdown {
    cursor: pointer;
}
#contentWell .navbar {
    margin: -1px -1px 20px -1px;
}
#contentWell .well {
    padding: 0 0 20px 0;
}
#header h1 {
    font-size: 28px;
    color: #c7e0f0;
    margin: 0;
}
#header h1 * {
    display: inline;
    vertical-align: middle;
}
#header span {
    font-size: 28px;
}
#header img {
    height: 32px;
}
.stroke {
text-shadow:
    2px 2px 3px #555,
    -1px -1px 0 #888,  
    1px -1px 0 #888,
    -1px 1px 0 #888,
    1px 1px 0 #888;
}
@media (max-width: 767px) {
    #header h1 {
        text-align: center;
    }
    #header button {
        margin: 0;
    }
    #contentWell .navbar .dropdown-menu {
        display: inline-block;
    }
}
@media (max-width: 480px) {
    #headerCalc {
        font-size: 26px;
    }
    #header img {
        height: 26px;
    }
    #header h1 {
        font-size: 22px;
    }
    #header h1 p {
    }
}
#controls i {
    float: right;
}
#controls a {
    padding: 8px 14px;
}
#controls {
    cursor: pointer;
}
body {
    background-color: #f6f6f6;
}
