hr.visible-phone {
    margin: 5px 0;
}
.dropdown {
    cursor: pointer;
}
.noradius, .well {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.hero-unit {
    padding: 20px;
}
body {
    background-color: #f6f6f6;
}
