#header button {
    float: right;
}
#header h1 {
    margin: 5px;
}
#header img {
    height: 40px;
}
@media (max-width: 767px) {
    #header img {
        height: 36px;
    }
}
@media (max-width: 480px) {
    #header img {
        height: 26px;
    }
}
