#header {
    margin: 5px;
}
#headerBkg {
    position: absolute;
    width: 100%;
    height: 54px;
    left: 0;
    background-color: #f6f6f6;
    z-index: -1000;
}
#header img {
    height: 40px;
}
@media (max-width: 767px) {
    #header img {
        height: 36px;
    }
    #headerBkg {
        height: 50px;
    }
}
@media (max-width: 480px) {
    #header img {
        height: 26px;
    }
}
