.btn-toolbar {
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 2px;
}
#mapWell {
    position: relative;
}
#mapWell .navbar-search {
    position: absolute;
    left: 12%;
    z-index: 100;
}
#map {
    min-height: 200px;
}
/* Fix for repsponsive. */
#map img {
    max-width: none;
}
@media (max-width: 767px) {
    #map {
        max-height: 200px;
    }
}
@media (max-width: 480px) {
    
}
