.stroke {
text-shadow:
    2px 2px 3px #555,
    -1px -1px 0 #888,  
    1px -1px 0 #888,
    -1px 1px 0 #888,
    1px 1px 0 #888;
}
.cantora {
    font-family: 'Cantora One';
}
.geo {
    font-family: 'Geo';
}
#pebrain a {
    color: white;
}
#header h1 {
    color: #c7e0f0;
    font-size: 36px;
}
#header h1 img + span {
    color: #47cf47;
    font-size: 44px;
}
@media (max-width: 979px) {
    #header h1 {
        font-size: 32px;
    }
    #header h1 img + span {
        font-size: 34px;
    }
}
@media (max-width: 768px) {
    #header h1 {
        font-size: 25px;
    }
    #header h1 img + span {
        font-size: 32px;
    }
}
@media (max-width: 480px) {
    #header h1 {
        font-size: 18px;
    }
    #header h1 img + span {
        font-size: 22px;
    }
}
