hr.visible-phone {
    margin: 5px 0;
}
.dropdown {
    cursor: pointer;
}
/* Border radius needs to die. */
* {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}
.hero-unit {
    padding: 20px;
}
body {
    background-color: white;
}
