#infoWell .accordion-heading:hover i + span {
    text-decoration: underline;
}
.accordion-inner {
    background: #fafafa;
}
.input-grid > div {
    margin-bottom: 3px;
}
.modal form {
    margin: 0;
}
