.btn-toolbar {
    margin: 0 0 2px;
}
.dropdown-menu {
    cursor: pointer;
}
#mapWell {
    position: relative;
}
#mapWell .navbar-search {
    position: absolute;
    left: 12%;
    z-index: 100;
}
#map {
    min-height: 200px;
}
/**
 * Fix for distorted controls in bootstrap.
 * @see https://github.com/twitter/bootstrap/issues/3407
 */
#map img {
    max-width: none;
}
@media (max-width: 976px) {
    #map {
        max-height: 500px;
    }
    .navbar-fixed-bottom {
        margin-top: 0;
    }
}
@media (max-width: 767px) {
    #map {
        max-height: 200px;
    }
}
