.stroke {
    text-shadow:
        2px 2px 3px #555,
        -1px -1px 0 #888,
        1px -1px 0 #888,
        -1px 1px 0 #888,
        1px 1px 0 #888;
}
.cantora {
    font-family: 'Cantora One';
}
.geo {
    font-family: 'Geo';
}
.modal-footer .badge {
    font-size: 12pt;
    padding: 4px 8px;
}
.input-grid .add-on {
    font-family: "Lucida Console", Monaco, monospace;
}
#pebrain a {
    color: white;
}
#header span {
    color: #c7e0f0;
    font-size: 36px;
}
#header a {
    text-decoration: none;
}
#header img + span {
    color: #47cf47;
    font-size: 44px;
}
@media (max-width: 979px) {
    #header span {
        font-size: 32px;
    }
    #header img + span {
        font-size: 34px;
    }
}
@media (max-width: 768px) {
    #header span {
        font-size: 25px;
    }
    #header img + span {
        font-size: 32px;
    }
}
@media (max-width: 480px) {
    #header span {
        font-size: 18px;
    }
    #header img + span {
        font-size: 22px;
    }
}
